body {
  margin: 0;
  min-height: 100dvh;
  background: #141414; 
}

.looks1{
  background-color: #27202a;

}

.looks2{
  background-color: #252a25;
}

.looks3{
  background-color: #2c2925;
}

#quote-container {
  position: relative;
  width: 100%;
  min-height: 100dvh;
  overflow: hidden;
  cursor: crosshair;
}

.quote {
  position: absolute;
  max-width: min(85vw, 18em);
  font-size: clamp(0.7rem, 2vw, 0.9rem, 0.2em);
  color: #eee;
  text-align: center;

  filter: blur(0.4em);
  opacity: 0;
  transition: opacity 2s, filter 0.5s, text-shadow 0.5s;
}

.quote.show {
  opacity: 1;
}

.quote:hover {
  filter: blur(0);
  text-shadow: 0 0.3em 1em rgb(208, 208, 208);
  cursor: pointer;
}

#title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: Georgia, serif;
  font-size: 2em;
  color: #eee;

  opacity: 0.7;

  transition: filter 0.5s ease, text-shadow 0.5s ease;
}

#title:hover{
  color: rgba(0, 0, 0, 0);
  cursor:progress;
}
.reading-text-container{
  display: flex;
  justify-content: center;

}

.reading-text{
  margin: 0em 2em;
  padding: 0em 4em;
  color: #eee;
  max-width: 800px;
}

.button {
  border: none;
  color: white;
  padding: .45em .7em;
  text-align: center;
  text-decoration: none;
  font-size: .8em; 
  font-family: Georgia, serif;
  margin: .4em; 
  cursor: pointer;
  background-color: #eeeeee58;
  display: inline-block;
  border-radius: .4em;
}

.button:hover{
    background-color: #eeeeee;
    color: black;
}

.button-div{
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;  
}

@media (min-width: 1120px) {
  .reading-text{padding: 2em;}

}


@media (max-width: 600px) {
  .reading-text{padding: 1.5em;}
  p{font-size: .85em;}
  #title{ font-size: 1.6em;}
  .button-div{  flex-direction: column;}
} 


@media (max-width: 300px) {
  .reading-text{padding: 1em;}
  #title{ font-size: 1.4em;}
  p{font-size: 1.2em;}
} 


